fastapi
uvicorn[standard]
python-multipart
pandas
openpyxl
xlrd
requests
beautifulsoup4
python-dotenv
pydantic
email-validator
cryptography
PyJWT
psycopg2-binary
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
msal
